.banner-home {
  color: $white;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner-home-content {
  position: fixed;
  left: 10%;
  top: 15%;
  color: $white;
  h2 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 30px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid $third; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
  }
}

.banner-search {
  position: absolute;
}

#home-query-box {
  padding: 24px;
  margin-top: 25px;
  height: 100%;
  width: 400px;

  border-radius: 10px;
  border: 1px $first groove;
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);

  text-align: center;
  font-size: 1.2em;
  color: $first;

  position: absolute;
  top: 0;
  left: 0;
  .btn {
    position: absolute;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $third;
  }
}
