

    <div class="wrapper-mint padded">
       <div class="container">
          <div class="row">
            <h1>My Booking List <i class="fas fa-bed"></i> </h1>
            <% @user_bookings.each do |booking| %>
              <div class="message">
                <!-- <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"> -->
                <div class="message-name">
                  <p><%= current_user.email.split("@")[0] %></p>
                </div>
                <div class="message-body">
                  <p><em>sent a request </em></p>
                  <botton class= "btn btn-success">Accept</botton>
                  <botton class= "btn btn-danger">Refuse</botton>
                </div>
                <div class="message-status">
                  <p><%= booking.bunker.name %></p>
                  <p>host: <%= booking.bunker.user.first_name %></p>
                  <p class="status"><strong><%= booking.status %></strong></p>
                </div>
              </div>
            <% end %>
          </div>
       </div>
    </div>

     <div class="wrapper-darkmint padded">
       <div class="container">
        <div class="row">
        </div>
       </div>
    </div>
