.registration-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.registration-container {
  padding: 10% 32%;
  color: $white;
  h2 {
    padding-bottom: 25px;
  }
  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color: $first;
  }
  small.form-text.text-muted,
  input#user_photo.form-control-file.file.optional {
    color: $white;
  }
}
