.cover-photo {
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.title-card {
  text-align: center;
  color: $white;
  padding: 10px 0;
  margin-bottom: 10%;
  background-color: rgba(0, 9, 19, 0.29);
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 10%;
  left: 5%;
  right: 5%;
  h3 {
    padding-bottom: 10px;
  }
}

.container-show {
  margin-top: -75px;
  padding: 0 2% 2% 2%;
  position: relative;
  color: $white;
}
.content-show {
  background: $first;
  text-align: center;
  padding: 0 0 3.5em 0;
  height: 65.3vh;
  h3 {
    padding-top: 1em;
  }
  h4 {
    padding-top: 0.5em;
  }
  h5 {
    padding-top: 1em;
  }
  h6 {
    padding-top: 1em;
  }
  i {
    color: $third;
  }
  .description {
    padding: 20px 100px;
  }
}
.bunker-photo {
  margin-top: 7px;
  background-size: cover;
  background-position: center;
  height: 40%;
  width: 100%;
}
.share {
  font-size: 2em;
  i:hover {
    color: $white;
  }
}

.yours {
  color: $third;
}
