.cover-photo {
  background-position: center bottom !important;
  background-size: cover !important;
  height: 90vh;
  position: relative;
}

.title-card {
  display: flex;
  flex-flow: column;
  text-align: left;
  color: white;
  position: fixed;
  top: 10%;
  left: 5%;
  right: 5%;
  padding-left: 1%;
  margin-bottom: 5%;
  background-color: rgba(0, 9, 19, 0.29);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#container-show {
  margin-top: -75px;
  margin-left: 5%;
  margin-right: 5%;
  // margin-bottom: 2%;
  position: relative;
  color: white;
  h2 {
    padding-top: 1em;
  }
  h3 {
    padding-top: 1em;
  }
  h4 {
    padding-top: 1em;
  }
  h5 {
    padding-top: 1em;
  }
  h6 {
    padding-top: 1em;
  }
  .btn {
    margin-top: 1%;
    padding: 2%;
  }
}

.title-show {
  padding-bottom: 1em;
  box-shadow: 0px 7px 5px -2px rgba(114, 113, 113, 0.3);
}
.content-show {
  background: rgba(0, 9, 19, 0.95);
  text-align: center;
}

.row.equal-cols {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.equal-cols:before,
.row.equal-cols:after {
  display: block;
}

.row.equal-cols > [class*="col-"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row.equal-cols > [class*="col-"] > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
