<div class="footer">

   
    <div class="line"></div>
    <div class="awknowledgement">
        <p class="ui-ux-designer">UI designed by <em>WhatTheDuck101</em></p>
        <p> Bunker logo made by <a href="https://www.flaticon.com/authors/swifticons" title="Swifticons" target="_blank">Swifticons</a> from 
            <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a> is licensed by 
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
    </div>
     <div class="external-links">
        <a href="https://github.com/whatTheDuck101" target="_blank">
            <i class="fab fa-github-square" ></i>
        </a>
        <a href="https://www.linkedin.com/in/elizabeth-creary-766b42131/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    
</div>
