<div class="map-window">
  <div class="bunker-image" style="background-image: url('<%= cl_image_path bunker.photo %>')"></div></p>
  <p>Title: <%= bunker.name %></p>
  <p>Owner: <%= bunker.user.first_name %></p>
</div>
