<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Bunkers</h1>
    </div>
  </div>

  <div class="row">
    <% @bunkers.each do |bunker| %>
      <div class="col-4">
        <div class="bunker-card">
          <div class="bunker-card-image" style="background-image: url('<%= bunker.picture_url %>')"></div>
          <div class="bunker-card-content">
            <div class="bunker-card-title">
              <h4><%= bunker.name %></h4>
            </div>
            <p><%= bunker.location %></p>
            <div class="flex">
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= bunker.price %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
