    <div class="container padded" >
      <div class="row">
        <div class="col-12">
          <h1>My Bunkers <i class="fas fa-home"></i> </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
         <% if policy(Bunker).new? %>
          <%= link_to new_bunker_path do %>
           <button type="button" class="btn btn-danger">Add a new Bunker</button>
          <% end %>
         <% end %>
        </div>
      </div>
    </div>

     <div class="wrapper-darkmint padded">
       <div class="container">
        <div class="row">
          <% @bunkers.each do |bunker| %>
            <p> <%= bunker.name %>: <%= bunker.is_available %> </p>
          <% end %>
        </div>
       </div>
    </div>


