<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.9), rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner_bunker.jpg'%>);">
    <div class="banner-home-content anim-typewriter">
        <h1>Bunkers & Breakfast</h1>
        <h2>Safety and Comfort is Our Priority</h2>
        <div class="banner-search"><%= render  "/shared/home_search_form" %></div>
    </div>
</div>










