<h1>Pages#home</h1>
<<<<<<< HEAD
<p>Back ground img and sign up form</p>
=======
<p>Find me in app/views/pages/home.html.erb</p>

<p> hi testing </p>
<h1>hello</h1>
>>>>>>> d302f34e674b64c120e9af697ab5b5222ab7eb72
