.banner {
  color: $white;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  position: relative;
}

.banner-content {
  text-align: left;
  justify-content: left;
  padding-left: 7%;
  padding-bottom: 27%;

  h1 {
    font-style: "Bangers";
    color: $white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}

.banner-md {
  color: $white;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
}

.content-md {
  padding-left: 7%;
  padding-top: 25%;
}
