.btn_submit {
  border: 2px solid #4CAF50;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  align-items: center;
}

.btn_submit:hover {
  background-color: #4CAF50;
  color: white;
}

.action {
  display: inline;

}

.left-button {
  padding-right: 10px;
  text-size: 200px;
}
