.registration-button {
  padding: 0.5em 1em;
  margin-bottom: 10px;
  background-color: $white;
  border: 2px solid $third;
  border-radius: 5px;
  color: $third;
  font-weight: 800;
  &:hover {
    background-color: $third;
    border: 2px solid $third;
    color: $white;
    text-decoration: none;
  }
}

.request-button {
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: $third;
  color: $white;
  font-weight: 800;
  text-decoration: none;
  &:hover {
    background-color: $white;
    color: $third;
    text-decoration: none;
  }
}

.denied-button {
  color: $red;
  text-decoration: none;
  padding: 0 12px;
  &:hover {
    color: #e9322d;
    text-decoration: none;
  }
}

.button-padding {
  margin-bottom: 10px;
}
