.card {
  width: 100%;
  height: 20em;
  background: $first;
  color: $white;
  border-radius: 2px;
}

.card-img-top {
  width: 100%;
  height: 13em;
  background-size: cover;
  background-position: center;
}
.card-body {
  padding: 5px 10px;
}
.card-text {
  i {
    color: $third;
  }
}
