.footer {
  background: $first;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  z-index: 200;
}

.awknowledgement {
  padding-top: 20px;
  color: $white;
  font-size: 11px;
  text-align: center;
  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    text-decoration: column;
  }
}
.external-links {
  text-align: center;
  padding: 15px 0;
  i {
    padding: 5px 5px;
    color: $white;
    font-size: 30px;
  }
  i:hover {
    color: $third;
  }
}
