/* Main navbar */
.navbar-bunker {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: $first;
  z-index: 100;
  transition: all 0.3s ease;
  height: 55px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-bunker-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-bunker .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-bunker-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-bunker-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-bunker-link {
  color: $white;
  font-size: 14px;
}
.navbar-bunker-link:hover {
  color: $third;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-bunker-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $white;
  border-color: $white;
}
.navbar-bunker-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-bunker-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-bunker-dropdown-menu:before {
  content: " ";
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: $white;
  transform: rotate(45deg);
  border-left: 1px solid $white;
  border-top: 1px solid $white;
}
