.search-bar {
  margin-top: 10px;

  form {
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.42857;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.btn-danger {
  padding: 2px 12px;
  margin-bottom: 3.5px;
}
