.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-full {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-half {
  top: 15px;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    padding-top: 30vh;
  }
}

.center {
}

.mask-black {
  background-color: #000000;
  opacity: 0.8;
}

.box-trans {
  width: 400px;
  background-color: #f8f9fa;

  padding: 24px;
  border-radius: 5px;
  margin: 50px;
}

.flat-card {
  width: 100%;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.flat-card-image {
  height: 200px;
  background-position: center;
  background-size: cover;
}

.flat-card-content {
  line-height: 1.5em;
  height: 100px;
  padding: 10px;
  background-color: #f8f9fa;
}

.flat-card-actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px 24px;
}

.flat-form {
  background-color: #f8f9fa;
  padding: 24px;
  border-radius: 3px;
}

// .flat-show-card {
//   background: #f8f9fa;
//   padding: 20px;
//   margin-bottom: 20px;
//   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
//   border-radius: 3px;
// }

// .map {
//   height: 350px;
//   background-position: center;
//   background-size: cover;
// }

.margin-top-negative {
  margin-top: -75px;
}
.no-mb {
  margin-bottom: 0;
}

// .flat-show-address {
//   font-weight: 300;
//   font-size: 20px;
//   color: #333;
// }

.message {
  width: 80%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 10px;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  font-size: 13px;
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  text-align: center;
  padding-left: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.message-body strong {
  color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  .btn.btn-danger {
    margin: 0;
    padding: 4% 0;
  }
}
.status {
  color: #04a366;
}

.danger {
  color: #ee2677;
}

.card-user {
  right: 10px;
  top: 10px;
  width: 60px;
  border-radius: 50%;
}
